<div id="products" class="page-layout carded fullwidth" fusePerfectScrollbar>
    <!-- TOP BACKGROUND -->
    <div class="top-bg mat-accent-bg"></div>
    <!-- / TOP BACKGROUND -->
    <!-- CENTER -->
    <div class="center">
        <!-- HEADER -->
        <div class="header white-fg" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="space-between center">
            <!-- APP TITLE -->
            <div class="logo my-12 m-sm-0" fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="logo-icon mr-16" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">attach_money</mat-icon>
                <span class="logo-text h1" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">Leaves</span>
            </div>
            <!-- / APP TITLE -->
            <!-- SEARCH -->
            <div class="search-input-wrapper mx-12 m-md-0" fxFlex="1 0 auto" fxLayout="row">
                <label for="search" class="mr-8">
                    <mat-icon class="secondary-text">search</mat-icon>
                </label>
                <mat-form-field floatPlaceholder="never" fxFlex="1 0 auto">
                    <input id="search" matInput #filter placeholder="Search">
                </mat-form-field>
            </div>
            <!-- / SEARCH -->
            <div class="search-input-wrapper mx-12 m-md-0" fxFlex="1 0 auto" fxLayout="row" fxLayoutAlign="start center">

                <button mat-mini-fab (click)="addleave()" class="elydialog-header" style="    margin-left: 41%;">
                    <mat-icon aria-label="Example icon-button with a heart icon">add_circle</mat-icon>
                </button>
                <button mat-raised-button class="add-product-button mat-white-bg my-3 mt-sm-0" style="    margin-left: 4%;">
                    <span>Import cvc</span>
                </button>
                <button mat-raised-button class="add-product-button mat-white-bg my-3 mt-sm-0" style="    margin-left: 4%;">
                    <span>Sample cvc</span>
                </button>
            </div>
        </div>
        <div class="content-card mat-white-bg">
        </div>



        <mat-paginator #paginator [length]="2" [pageIndex]="0" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
        </mat-paginator>

    </div>
    <!-- / CONTENT CARD -->
</div>