<div id="post" class="container" fusePerfectScrollbar style="width:100% !important" (scroll)="handleScroll($event)">
  <div class="row" style="margin-top:40px">
    <div class="col s2 offset-s2">
      <span class="flow-text">
        <mat-card style="width: 15%;position: fixed;left: 16%;right: 0; padding:0; border: solid 1px #a7a7a7;">

          <div class="col s12">
            <h5 style="    padding: 10px;"><strong>Manage My Network</strong> </h5>
            <div class="row" style="padding-left: 17px;    margin-bottom: 0;">
              <div class="col s8">
                <mat-icon>group_add</mat-icon>
                <span style="    padding-left: 15px;
    position: absolute;
    padding-top: 4px;
 
">Connections</span>

              </div>
              <div class="col s4">
                <span>32,424</span>
              </div>
            </div>

            <div class="row" style="padding-left: 17px;    margin-bottom: 0;">
              <div class="col s8">
                <mat-icon>group_add</mat-icon>
                <span style="    padding-left: 15px;
    position: absolute;
    padding-top: 4px;
 
">Teammates</span>

              </div>
              <div class="col s4">
                <span> </span>
              </div>
            </div>

            <div class="row" style="padding-left: 17px;    margin-bottom: 0;">
              <div class="col s8">
                <mat-icon>group_add</mat-icon>
                <span style="    padding-left: 15px;
    position: absolute;
    padding-top: 4px;
 
">Contacts</span>

              </div>
              <div class="col s4">
                <span>32,424</span>
              </div>
            </div>
            <div class="row" style="padding-left: 17px;    margin-bottom: 0;">
              <div class="col s8">
                <mat-icon>group_add</mat-icon>
                <span style="    padding-left: 15px;
    position: absolute;
    padding-top: 4px;
 
">People I follow</span>

              </div>
              <div class="col s4">
                <span>32,424</span>
              </div>
            </div>

            <div class="row" style="padding-left: 17px;    margin-bottom: 0;">
              <div class="col s8">
                <mat-icon>group_add</mat-icon>
                <span style="    padding-left: 15px;
    position: absolute;
    padding-top: 4px;
 
">Groups</span>

              </div>
              <div class="col s4">
                <span>32,424</span>
              </div>
            </div>
            <div class="row" style="padding-left: 17px;    margin-bottom: 0;">
              <div class="col s8">
                <mat-icon>group_add</mat-icon>
                <span style="    padding-left: 15px;
    position: absolute;
    padding-top: 4px;
 
">Pages</span>

              </div>
              <div class="col s4">
                <span>32,424</span>
              </div>
            </div>
            <div class="row" style="padding-left: 17px;    margin-bottom: 0;">
              <div class="col s8">
                <mat-icon>group_add</mat-icon>
                <span style="    padding-left: 15px;
    position: absolute;
    padding-top: 4px;
 
">Hashtag</span>

              </div>
              <div class="col s4">
                <span>32,424</span>
              </div>
            </div>
            <hr>

            <div class="row" style="padding-left: 17px;
          margin-bottom: 0;">
              <div class="col s12">
                <span>Promoted</span>
                <span style="float: right;
              margin-right: 16px;">
                  <mat-icon>more_horiz</mat-icon>
                </span>
              </div>
              <div class="col s12" style="padding-right: 10px;">
                <div class="col s6" style="text-align: center; border-right: 1px solid gray;">

                  <img style="width: 51%;     margin-bottom: 10px;"
                    src="https://images.pexels.com/photos/414612/pexels-photo-414612.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500">
                  <span class="col s12" style="font-size: 13px;"><strong>Now Accepting Candinates</strong></span>
                  <span class="col s12"> dsad fsa f saf fsa f safs af safsa fsa f saf saf saf sa f </span>
                  <span class="col s12" style="margin-top: 10px;
                  padding-bottom: 11px;
                  color: #0c3532;"> <strong> Learn More</strong> </span>
                </div>
                <div class="col s6" style="text-align: center; ">

                  <img style="width: 51%;     margin-bottom: 10px;"
                    src="https://images.pexels.com/photos/414612/pexels-photo-414612.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500">
                  <span class="col s12" style="font-size: 13px;"><strong>Now Accepting Candinates</strong></span>
                  <span class="col s12"> dsad fsa f saf fsa f safs af safsa fsa f saf saf saf </span>
                  <span class="col s12" style="margin-top: 10px;
                  padding-bottom: 11px;
                  color: #0c3532;"> <strong> Learn More</strong> </span>

                </div>

              </div>
            </div>
          </div>


        </mat-card>
      </span>
    </div>
    <div class="col s7">
      <div class="row">
        <div class="col s12" style="padding: 12px;
        background: white;  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
">
          <div class="col s8" style="font-size: 16px;">Invitation</div>
          <div class="col s4"><small style="float: right;">See All 2</small> </div>

        </div>
        <div class="col s12">
          <div> </div>
          <mat-card class="example-card" style="background: #b7f3ee;">
            <img mat-card-image src="https://theme4press.com/wp-content/uploads/2015/11/featured-small-circular.jpg"
              style="width: 10% ;border-radius : 50% ;">
            <mat-card-content style="float: right; width: 90%">
              <p>
                <strong>Mohit Naithani</strong>

              </p>
              <p style="width: 80%;float:left;"> The Shiba Inu is the smallest of the six original and distinct spitz
                breeds of dog from Japan.
              </p>
              <span style="float: right ; width: 20%;">
                <div class="row">
                  <div class="col s6">
                    <button mat-raised-button color="accent">Ignore</button>


                  </div>
                  <div class="col s6">
                    <button mat-raised-button color="accent">Accept</button>


                  </div>

                </div>
              </span>
            </mat-card-content>

          </mat-card>
          <mat-card class="example-card" style="background: #b7f3ee;">
            <img mat-card-image src="https://theme4press.com/wp-content/uploads/2015/11/featured-small-circular.jpg"
              style="width: 10% ;border-radius : 50% ;">
            <mat-card-content style="float: right; width: 90%">
              <p>
                <strong>Mohit Naithani</strong>

              </p>
              <p style="width: 80%;float:left;"> The Shiba Inu is the smallest of the six original and distinct spitz
                breeds of dog from Japan.
              </p>

              <span style="float: right ; width: 20%;">
                <div class="row">
                  <div class="col s6">
                    <button mat-raised-button color="accent">Ignore</button>


                  </div>
                  <div class="col s6">
                    <button mat-raised-button color="accent">Accept</button>


                  </div>

                </div>
              </span>
            </mat-card-content>

          </mat-card>
        </div>
      </div>
      <div class="row">
        <div class="col s12" style="padding: 12px;
        background: white;  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
">
          <div class="col s12" style="padding: 12px;">
            <div class="col s8" style="font-size: 16px;">People May Know</div>
            <div class="col s4"><small style="float: right;">See All 2</small> </div>
          </div>
          <div class="row" style="    padding: 10px;">
            <div class="col s3">
              <mat-card class="example-card " style="text-align: center;">

                <div>

                  <div class="pro-banner"
                    style="margin-bottom: 18px;     background-image: url('https://images.pexels.com/photos/949587/pexels-photo-949587.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500')">
                  </div>

                  <div>
                    <img src="../../../../assets/images/profile/forground.jpg" class="pro-profile">
                  </div>
                </div>
                <mat-card-content>
                  <p>
                    <strong>Mohit Naithani</strong>
                  </p>
                  <p> Modmsao domasd fsa fsa fsaf saf afsaf sfs afsa</p>

                </mat-card-content>
                <mat-card-actions>

                  <button style="    width: 80%;" mat-raised-button mat-button color="primary">Connect</button>

                </mat-card-actions>
              </mat-card>
            </div>
            <div class="col s3">
              <mat-card class="example-card " style="text-align: center;">

                <div>

                  <div class="pro-banner"
                    style="margin-bottom: 18px;     background-image: url('https://images.pexels.com/photos/949587/pexels-photo-949587.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500')">
                  </div>

                  <div>
                    <img src="../../../../assets/images/profile/forground.jpg" class="pro-profile">
                  </div>
                </div>
                <mat-card-content>
                  <p>
                    <strong>Mohit Naithani</strong>
                  </p>
                  <p> Modmsao domasd fsa fsa fsaf saf afsaf sfs afsa</p>

                </mat-card-content>
                <mat-card-actions>

                  <button style="    width: 80%;" mat-raised-button mat-button color="primary">Connect</button>

                </mat-card-actions>
              </mat-card>
            </div>
            <div class="col s3">
              <mat-card class="example-card " style="text-align: center;">

                <div>

                  <div class="pro-banner"
                    style="margin-bottom: 18px;     background-image: url('https://images.pexels.com/photos/949587/pexels-photo-949587.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500')">
                  </div>

                  <div>
                    <img src="../../../../assets/images/profile/forground.jpg" class="pro-profile">
                  </div>
                </div>
                <mat-card-content>
                  <p>
                    <strong>Mohit Naithani</strong>
                  </p>
                  <p> Modmsao domasd fsa fsa fsaf saf afsaf sfs afsa</p>

                </mat-card-content>
                <mat-card-actions>

                  <button style="    width: 80%;" mat-raised-button mat-button color="primary">Connect</button>

                </mat-card-actions>
              </mat-card>
            </div>
            <div class="col s3">
              <mat-card class="example-card " style="text-align: center;">

                <div>

                  <div class="pro-banner"
                    style="margin-bottom: 18px;     background-image: url('https://images.pexels.com/photos/949587/pexels-photo-949587.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500')">
                  </div>

                  <div>
                    <img src="../../../../assets/images/profile/forground.jpg" class="pro-profile">
                  </div>
                </div>
                <mat-card-content>
                  <p>
                    <strong>Mohit Naithani</strong>
                  </p>
                  <p> Modmsao domasd fsa fsa fsaf saf afsaf sfs afsa</p>

                </mat-card-content>
                <mat-card-actions>

                  <button style="    width: 80%;" mat-raised-button mat-button color="primary">Connect</button>

                </mat-card-actions>
              </mat-card>
            </div>
            <div class="col s3">
              <mat-card class="example-card " style="text-align: center;">

                <div>

                  <div class="pro-banner"
                    style="margin-bottom: 18px;     background-image: url('https://images.pexels.com/photos/949587/pexels-photo-949587.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500')">
                  </div>

                  <div>
                    <img src="../../../../assets/images/profile/forground.jpg" class="pro-profile">
                  </div>
                </div>
                <mat-card-content>
                  <p>
                    <strong>Mohit Naithani</strong>
                  </p>
                  <p> Modmsao domasd fsa fsa fsaf saf afsaf sfs afsa</p>

                </mat-card-content>
                <mat-card-actions>

                  <button style="    width: 80%;" mat-raised-button mat-button color="primary">Connect</button>

                </mat-card-actions>
              </mat-card>
            </div>
            <div class="col s3">
              <mat-card class="example-card " style="text-align: center;">

                <div>

                  <div class="pro-banner"
                    style="margin-bottom: 18px;     background-image: url('https://images.pexels.com/photos/949587/pexels-photo-949587.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500')">
                  </div>

                  <div>
                    <img src="../../../../assets/images/profile/forground.jpg" class="pro-profile">
                  </div>
                </div>
                <mat-card-content>
                  <p>
                    <strong>Mohit Naithani</strong>
                  </p>
                  <p> Modmsao domasd fsa fsa fsaf saf afsaf sfs afsa</p>

                </mat-card-content>
                <mat-card-actions>

                  <button style="    width: 80%;" mat-raised-button mat-button color="primary">Connect</button>

                </mat-card-actions>
              </mat-card>
            </div>
            <div class="col s3">
              <mat-card class="example-card " style="text-align: center;">

                <div>

                  <div class="pro-banner"
                    style="margin-bottom: 18px;     background-image: url('https://images.pexels.com/photos/949587/pexels-photo-949587.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500')">
                  </div>

                  <div>
                    <img src="../../../../assets/images/profile/forground.jpg" class="pro-profile">
                  </div>
                </div>
                <mat-card-content>
                  <p>
                    <strong>Mohit Naithani</strong>
                  </p>
                  <p> Modmsao domasd fsa fsa fsaf saf afsaf sfs afsa</p>

                </mat-card-content>
                <mat-card-actions>

                  <button style="    width: 80%;" mat-raised-button mat-button color="primary">Connect</button>

                </mat-card-actions>
              </mat-card>
            </div>

            <div class="col s3">
              <mat-card class="example-card " style="text-align: center;">

                <div>

                  <div class="pro-banner"
                    style="margin-bottom: 18px;     background-image: url('https://images.pexels.com/photos/949587/pexels-photo-949587.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500')">
                  </div>

                  <div>
                    <img src="../../../../assets/images/profile/forground.jpg" class="pro-profile">
                  </div>
                </div>
                <mat-card-content>
                  <p>
                    <strong>Mohit Naithani</strong>
                  </p>
                  <p> Modmsao domasd fsa fsa fsaf saf afsaf sfs afsa</p>

                </mat-card-content>
                <mat-card-actions>

                  <button style="    width: 80%;" mat-raised-button mat-button color="primary">Connect</button>

                </mat-card-actions>
              </mat-card>
            </div>
            <div class="col s3">
              <mat-card class="example-card " style="text-align: center;">

                <div>

                  <div class="pro-banner"
                    style="margin-bottom: 18px;     background-image: url('https://images.pexels.com/photos/949587/pexels-photo-949587.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500')">
                  </div>

                  <div>
                    <img src="../../../../assets/images/profile/forground.jpg" class="pro-profile">
                  </div>
                </div>
                <mat-card-content>
                  <p>
                    <strong>Mohit Naithani</strong>
                  </p>
                  <p> Modmsao domasd fsa fsa fsaf saf afsaf sfs afsa</p>

                </mat-card-content>
                <mat-card-actions>

                  <button style="    width: 80%;" mat-raised-button mat-button color="primary">Connect</button>

                </mat-card-actions>
              </mat-card>
            </div>
            <div class="col s3">
              <mat-card class="example-card " style="text-align: center;">

                <div>

                  <div class="pro-banner"
                    style="margin-bottom: 18px;     background-image: url('https://images.pexels.com/photos/949587/pexels-photo-949587.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500')">
                  </div>

                  <div>
                    <img src="../../../../assets/images/profile/forground.jpg" class="pro-profile">
                  </div>
                </div>
                <mat-card-content>
                  <p>
                    <strong>Mohit Naithani</strong>
                  </p>
                  <p> Modmsao domasd fsa fsa fsaf saf afsaf sfs afsa</p>

                </mat-card-content>
                <mat-card-actions>

                  <button style="    width: 80%;" mat-raised-button mat-button color="primary">Connect</button>

                </mat-card-actions>
              </mat-card>
            </div>
            <div class="col s3">
              <mat-card class="example-card " style="text-align: center;">

                <div>

                  <div class="pro-banner"
                    style="margin-bottom: 18px;     background-image: url('https://images.pexels.com/photos/949587/pexels-photo-949587.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500')">
                  </div>

                  <div>
                    <img src="../../../../assets/images/profile/forground.jpg" class="pro-profile">
                  </div>
                </div>
                <mat-card-content>
                  <p>
                    <strong>Mohit Naithani</strong>
                  </p>
                  <p> Modmsao domasd fsa fsa fsaf saf afsaf sfs afsa</p>

                </mat-card-content>
                <mat-card-actions>

                  <button style="    width: 80%;" mat-raised-button mat-button color="primary">Connect</button>

                </mat-card-actions>
              </mat-card>
            </div>
            <div class="col s3">
              <mat-card class="example-card " style="text-align: center;">

                <div>

                  <div class="pro-banner"
                    style="margin-bottom: 18px;     background-image: url('https://images.pexels.com/photos/949587/pexels-photo-949587.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500')">
                  </div>

                  <div>
                    <img src="../../../../assets/images/profile/forground.jpg" class="pro-profile">
                  </div>
                </div>
                <mat-card-content>
                  <p>
                    <strong>Mohit Naithani</strong>
                  </p>
                  <p> Modmsao domasd fsa fsa fsaf saf afsaf sfs afsa</p>

                </mat-card-content>
                <mat-card-actions>

                  <button style="    width: 80%;" mat-raised-button mat-button color="primary">Connect</button>

                </mat-card-actions>
              </mat-card>
            </div>

            


          </div>

        </div>

      </div>
    </div>
  </div>
</div>